header {
    background-color: #7C5E99;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

a {
    color: #FFF;
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

#button {
    display: inline-block;
    background-color: #F25A70;
    line-height: 60px;
    height: 60px;
    padding: 0 20px;
    box-shadow: 5px 5px 0 #000;
}